<style type='text/css'>
  .stickywrap {
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
    overflow: hidden;
    display: scroll;
    position: fixed;
    bottom: 0;
    z-index: 9999
  }

  .stickyzone {
    text-align: center;
    display: block;
    max-width: 970px;
    height: auto;
    overflow: hidden;
    margin: auto
  }

  .stickyzone img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
  }

  .stickyclose {
    cursor: pointer;
    text-align: center
  }
</style>

<div id='stickyb' class='stickywrap'>
  <div class='stickyzone'> <a href='#' title='Banner iklan disini'><img alt='Banner iklan disini' src='https://1.bp.blogspot.com/-No_OydJX2ho/XnDVE9fpn8I/AAAAAAAAkBU/EcPP4Aat1BQCvXMEwzKzt2fhbRHLwEl-ACLcBGAsYHQ/s1600/bawah%2Bjudul.jpg' /></a> </div>
</div>
