<style type='text/css'>
  .stickywrap {
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
    overflow: hidden;
    display: scroll;
    position: fixed;
    bottom: 0;
    z-index: 9999
  }

  .stickyzone {
    text-align: center;
    display: block;
    max-width: 970px;
    height: auto;
    overflow: hidden;
    margin: auto
  }

  .stickyzone img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
  }

  .stickyclose {
    cursor: pointer;
    text-align: center
  }
</style>
/* STICKY ALA KOMPI AJAIB*/
amp-sticky-ad{max-width:736px;margin-left:-368px;left:50%}
.amp-sticky-ad-close-button{background-position:center;border-radius:12px 12px 0 0;}
@media screen and (max-width:800px){amp-sticky-ad{margin-left:0;left:0}.amp-sticky-ad-close-button{background-position:9px;border-radius:12px 0 0 0;}}

<b:if cond='data:blog.pageType not in {&quot;static_page&quot;,&quot;error_page&quot;} and not data:blog.searchQuery and not data:blog.searchLabel'>
<amp-sticky-ad layout='nodisplay'>

<b:if cond='data:blog.isMobileRequest == &quot;false&quot;'>
<!-- Kode iklan untuk desktop silahkan simpan di bawah ini -->
<amp-ad data-ad-client='ca-pub-1012461088833333' data-ad-slot='7397810000' height='90' type='adsense' width='728'>
</amp-ad>
</b:if>

<b:if cond='data:blog.isMobileRequest == &quot;true&quot;'>
<!-- Kode iklan untuk mobile silahkan simpan di bawah ini -->
<amp-ad data-ad-client='ca-pub-1012461088833333' data-ad-slot='7397810000' height='50' type='adsense' width='320'>
</amp-ad>
</b:if>

  </amp-sticky-ad>
  </b:if>

<div id='stickyb' class='stickywrap'>
  <div class='stickyzone'> <a href='#' title='Banner iklan disini'><amp-img width="400" height="50" layout="responsive" src="https://mridhoan.github.io/images/indigo.png"></amp-img></a> </div>
</div>
