<style type='text/css'>
  .stickywrap {
    width: 100%;
    margin: auto;
    text-align: center;
    float: none;
    overflow: hidden;
    display: scroll;
    position: fixed;
    bottom: 0;
    z-index: 9999
  }

  .stickyzone {
    text-align: center;
    display: block;
    max-width: 970px;
    height: auto;
    overflow: hidden;
    margin: auto
  }

  .stickyzone img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
  }

  .stickyclose {
    cursor: pointer;
    text-align: center
  }
</style>


<div id='stickyb' class='stickywrap'>
  <div class='stickyzone'> <a href='#' title='Banner iklan disini'><amp-img width="400" height="50" layout="responsive" src="https://mridhoan.github.io/images/indigo.png"></amp-img></a> </div>
</div>
