<div id='stickyb' class='stickywrap'>
  <div><a id='close-stickyb' onclick='document.getElementById(&apos;stickyb&apos;).style.display = &apos;none&apos;;'><img alt='close' src='https://3.bp.blogspot.com/-6LAwZExOdHM/Xh7fAY_R5rI/AAAAAAAACB0/gHeIT7IiNKs51DmS34eoBwalg9tiL42AgCNcBGAsYHQ/s1600/sevenclose.png' title='Close this ad' class='stickyclose' /></a></div>
  <div class='stickyzone'> <a href='#' title='Banner iklan disini'><img alt='Banner iklan disini' src='https://1.bp.blogspot.com/-No_OydJX2ho/XnDVE9fpn8I/AAAAAAAAkBU/EcPP4Aat1BQCvXMEwzKzt2fhbRHLwEl-ACLcBGAsYHQ/s1600/bawah%2Bjudul.jpg' /></a> </div>
</div>
